.main2bkg {
  background-color: #5d39eb;
  height: 600px;
}

.bottombkg {
  background-color: #000;
  height: 350px;
}

.heading {
  color: #fff;
  background-color: #000;
}

.textmn {
  color: #fff;
  object-fit: fill;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  line-height: 70px;
}

.div-block {
  height: 0;
  line-height: 50px;
}

.button {
  background-color: #30f;
  border-radius: 20px;
  margin-bottom: 0;
  margin-left: 21px;
  padding: 54px 139px 60px 151px;
  font-size: 50px;
}

.div-block-2 {
  background-color: red;
  height: 600px;
}

.div-block-3 {
  background-color: #000;
  height: 280px;
}

.text-block {
  color: #fff;
  height: 100px;
  font-size: 50px;
  line-height: 50px;
}

.div-block-4 {
  background-color: #ffea00;
  height: 600px;
}

.div-block-5 {
  background-color: #000;
  height: 300px;
}

.text-block-2 {
  color: #fff;
  margin-bottom: 40px;
  margin-left: 10px;
  font-size: 60px;
  line-height: 100px;
}

.div-block-6 {
  color: #e0f;
  background-color: #ff03ab;
  height: 600px;
}

.div-block-7 {
  background-color: #000;
  height: 300px;
}

.text-block-3 {
  color: #fff;
  margin-bottom: 32px;
  font-size: 60px;
  line-height: 100px;
}

.button-2 {
  background-color: #90f;
  border-radius: 20px;
  margin-bottom: 42px;
  margin-left: 15px;
  padding: 20px 40px;
  font-size: 30px;
}

.button-3, .button-4 {
  background-color: #90f;
  border-radius: 20px;
  margin-left: 39px;
  padding: 20px 40px;
  font-size: 30px;
}

.button-5 {
  background-color: #90f;
  border-radius: 20px;
  margin-left: 40px;
  padding: 20px 40px;
  font-size: 30px;
}

.button-6 {
  padding-top: 10px;
}

.button-7 {
  border-radius: 20px;
  margin-left: 12px;
  padding: 20px 40px;
  font-size: 30px;
}

.button-8 {
  background-color: #0f4703;
  border-radius: 20px;
  margin-left: 39px;
  padding: 20px 40px;
  font-size: 30px;
}

.button-9 {
  background-color: #ff00e5;
  border-radius: 20px;
  margin-left: 39px;
  padding: 20px 40px;
  font-size: 30px;
}

.button-10 {
  margin-left: 276px;
}

.button-11 {
  text-align: center;
  background-color: #ec3838;
  border-radius: 20px;
  width: 100px;
  margin-left: 20px;
  padding: 50px 396px 60px 220px;
  font-family: Changa One, Impact, sans-serif;
  font-size: 100px;
}

.div-block-8 {
  background-color: #000;
  height: 900px;
}

.text-block-4 {
  color: #fff;
  text-align: center;
  background-color: #000;
  font-size: 100px;
  line-height: 200px;
}


